:root {
    --background: #FFF;
    --text: #FFF;
    --highlight: #FFF;
}

body {
    background: var(--background);
    height: 100%;
    margin: 0;
    font-family: source_sans_proregular,sans-serif;
}

html {
    padding-bottom: 50px;
    min-height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.carousel {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.btn.btn-outline-light.btn-floating {
    border-radius: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}

.carousel-inner {
    border: 3px solid black;
}

.card-title{
    font-size: 17px;
    font-weight: 600;
    color: black;
    line-height: 1.35em;
    height: 34px;
}

.descripton{
    height: 100px;
}

.theme-switch{
    --background: #FFF;
    --text:#000;
    color: var(--text);
    width: 70px;
    height: 30px;
    background: var(--highlight);
    border-radius: 50px;
    position: relative;
}
.theme-switch .switch {
    width: 24px;
    height: 24px;
    background: black;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 4px;
    transition: 0.5s all ease;
}

.dark-theme {
    --background: #333;
    --text: #000;
    background: var(--background);
}

.dark-theme .theme-switch {
    background: var(--text);
}

.dark-theme .switch {
     background: white;
     transform: translateX(37px);
}

.dark-theme .textwhite {
     color: white;
 }

.dark-theme .bgdark {
     background-color: #333;
}

.list-group-item {
    border: 1px solid rgb(0 0 0);
}

.dark-theme .list-group-item {
    border: 1px solid rgb(255 255 255);
}

.list-group-item.active {
    border-color: rgb(0 0 0);
}

.dark-theme .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #007bff;
    border-color: rgb(255 255 255);
}

#product-price {
    color: #6700ff;
    font-family: source_sans_prosemibold,serif;
    font-weight: 900;
    margin: 0;
}

#ShopierBtn {
    color: white;
    background-color: #6700ff;
    border-color: #6700ff;
    width:100%;
}